{% extends 'template.html' %}
{% block container %}

<form action="http://{{localhost}}:5005/cortereliga" method = "post">
        
    <br>
    <fieldset class="nd">
        <legend>Cadastro de Dispositivos:</legend>
        <br>
        Dispositivos: <input type="text" name="macid" required>
        <select name="acao">
            <option value="turnoon">Ligar</option>
            <option value="turnoff">Desligar</option>
          </select>

          <br><br>
          <input type="submit" value="Salvar">
    </fieldset>
</form>
{% endblock %}