{% extends 'template.html' %}
{% block container %}

<form action="{{localhost}}/cortereliga" method = "post">
        
    <br>
    <fieldset class="nd">
        <legend>Cadastro de Notas:</legend>
        <br>
        Dispositivos: <input type="text" name="macid" required>
        <select name="acao">
            <option value="turnoon">Ligar</option>
            <option value="turnoff">Desligar</option>
          </select>

          
          <input type="submit" value="Salvar" class="button salvar">
    </fieldset>
</form>
{% endblock %}