{% extends 'template.html' %}
{% block container %}
<div id="dispositivosgrid" >
	<form action="{{localhost}}/cadastrodispositivos">
		<fieldset>
			<legend>Dispositivo</legend>
			<input type="text" name="device" data-form-device>
			<button class="button pesquisar" data-form-button>Pesquisar</button>
			<button type="submit" class="button salvar">Cadastrar</button>

		</fieldset>
	</form>	
</div>
<br>
<div id="grid-dispsoitivos">
	<table class="customers" id="mytable">
           <thead>
               <th scope="col">Id</th>
               <th scope="col">Dispositivo</th>
               <th scope="col">Cliente</th>
               <th scope="col">Endereço</th>
               <th scope="col">Descrição</th>
               <th scope="col">Chave</th>
               <th scope="col">Ações</th>
           </thead>
    <tbody data-conteudo-tabela>
           	
    </tbody>
    </table>
 </div>
  <script type="text/javascript" src="/static/js/conf/config.js"> </script>
   <script type="text/javascript" src="/static/js/api/comunicadispositivosdados.js"> </script>
 <script type="text/javascript" src="./static/js/dispositivosconsultar.js"></script>
{% endblock %}