<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Genbu-IoT</title>
    <link rel="stylesheet" type="text/css"  href="/static/css/estilo.css" />  
    <link rel="stylesheet" type="text/css"  href="/static/css/formataform.css" />
  </head>
  <body>
      <div class="menu-container">
          <ul class="menu clearfix">
              <li><a href="http://192.168.15.15:5005/">Home</a>

                <li><a href="#">Notas De Serviço</a>
                  <ul class="sub-menu">
                  <li><a href="http://192.168.15.15:5005/notas">Corte/Religa</a></li>
                  <li><a href="http://192.168.15.15:5005/consultanotas">Consulta</a></li>
                </ul>
              </li>
              <li><a href="#">Dispositivos</a>
                  <ul class="sub-menu">
                  <li><a href=" http://192.168.15.15:5005/dispositivos">Cadastros</a></li>
                </ul>
              </li>

             
              <li><a href="http://192.168.15.15:5005/consultastatusdispositivos">Status Dispositivos</a></li>
          </ul>
      </div>
    <div class="container">
      {% block container %}{% endblock %}
    </div>
  </body>
</html>